<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app-portafolio</title> 
</head>
<body>
  <main>
    <section id="Estudiante 1">
      <h2>ESTUDIANTE JUAN VINCES</h2></section>
      
       <div class="container">
        <div class="lado_izquierdo">
            <div class="imagen">
                <img [src]="imagenUrl" alt="Mi imagen">
              </div>
            <div class="perfil">
                <h2>Vinces Posligua Juan Slyner</h2> 
                <span> 
                    <ul class="letras">
                        <li>Estudiante: Tecnologías de la Información</li>
                        <li>Técnico en mecanizado y construcciones metálicas</li>
                    </ul> 
                </span>
            </div>
            <div class="contacto">
                <h3 class="titulo">Contacto</h3>
                <ul>
                    <li>
                        <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <span class="text">+593 961671462</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-university" aria-hidden="true"></i></span>
                        <span class="text">jvinces5528@utm.edu.ec</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <span class="text">juanslynervp07@gmail.com</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span class="text">Jaramijó Ciudadela Viñas del Mar</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                        <span class="text">Instagram: @J_S_0_7</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lado_derecho">
            <div class="perfil1"> 
                <h1>Perfil</h1>
            </div>
            <p>Superarme en todos los aspectos de mi vida, brindando lo mejor de mí cada día, tanto en el aspecto laboral como en el aspecto personal.</p><br>
            <div class="perfil2">
                <h1>Habilidades</h1><br>
                <ul class="sub">
                    <li>Responsable</li><br>
                    <li>Liderazgo</li><br>
                    <li>Proactivo</li><br>
                    <li>Trabajo en equipo</li><br>
                    <li>Resiliencia</li><br>
                </ul><br>
            </div>
            <div class="Experiencia">
                <h1>Experiencia Laboral</h1><br>
                <ul class="sub2">
                    <li>
                        <h2>Pasante Fábrica "LA FABRIL S.A"</h2>
                        <p>Oct 2019 - Nov 2019.</p>
                        <p>Área de tornos.</p><br>
                    </li>
                </ul>
                <ul class="sub3">
                    <li>
                        <h2>Maestro en Talleres Taisor Cía. Ltda.</h2>
                        <p>Ene 2020 - dic 2020.</p>
                        <p>Área de fresadoras.</p>
                    </li>
                </ul>
            </div>
            <div class="Estudios">
                <h1>Educación</h1><br>
                <ul class="sub4">
                    <li>
                        <h2>Primaria</h2>
                        <p>(Escuela Dr. Anthonio Borrero 1° - 7°) (Unidad Educativa "Juan León Mera 8° - 10°")</p><br>
                    </li>
                    <li>
                        <h2>Secundaria</h2>
                        <p>(Colegio de Bachillerato Fiscal ""Luis Arboleda Martinez")</p><br>
                    </li>
                    <li>
                        <h2>Educación Superior</h2>
                        <p>(Cursando el sexto nivel en la "Universidad Técnica De Manabí")</p>
                    </li>
                </ul>
            </div>
        </div>  
    </div>
 </main>
 </body>
 </html>
