<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app-portafolio</title> 
</head>
<body>
  <main>
    <section id="Estudiante 1">
      <h2>ESTUDIANTE JUAN VINCES</h2></section>
      
       <div class="container">
        <div class="lado_izquierdo">
            <div class="imagen">
                <img [src]="imagenUrl" alt="Mi imagen">
              </div>
            <div class="perfil">
                <h2>Vinces Posligua Juan Slyner</h2> 
                <span> 
                    <ul class="letras">
                        <li>Estudiante: Tecnologías de la Información</li>
                        <li>Técnico en mecanizado y construcciones metálicas</li>
                    </ul> 
                </span>
            </div>
            <div class="contacto">
                <h3 class="titulo">Contacto</h3>
                <ul>
                    <li>
                        <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <span class="text">+593 961671462</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-university" aria-hidden="true"></i></span>
                        <span class="text">jvinces5528@utm.edu.ec</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <span class="text">juanslynervp07@gmail.com</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span class="text">Jaramijó Ciudadela Viñas del Mar</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                        <span class="text">Instagram: @J_S_0_7</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lado_derecho">
            <div class="perfil1"> 
                <h1>Perfil</h1>
            </div>
            <p>Superarme en todos los aspectos de mi vida, brindando lo mejor de mí cada día, tanto en el aspecto laboral como en el aspecto personal.</p><br>
            <div class="perfil2">
                <h1>Habilidades</h1><br>
                <ul class="sub">
                    <li>Responsable</li><br>
                    <li>Liderazgo</li><br>
                    <li>Proactivo</li><br>
                    <li>Trabajo en equipo</li><br>
                    <li>Resiliencia</li><br>
                </ul><br>
            </div>
            <div class="Experiencia">
                <h1>Experiencia Laboral</h1><br>
                <ul class="sub2">
                    <li>
                        <h2>Pasante Fábrica "LA FABRIL S.A"</h2>
                        <p>Oct 2019 - Nov 2019.</p>
                        <p>Área de tornos.</p><br>
                    </li>
                </ul>
                <ul class="sub3">
                    <li>
                        <h2>Maestro en Talleres Taisor Cía. Ltda.</h2>
                        <p>Ene 2020 - dic 2020.</p>
                        <p>Área de fresadoras.</p>
                    </li>
                </ul>
            </div>
            <div class="Estudios">
                <h1>Educación</h1><br>
                <ul class="sub4">
                    <li>
                        <h2>Primaria</h2>
                        <p>(Escuela Dr. Anthonio Borrero 1° - 7°) (Unidad Educativa "Juan León Mera 8° - 10°")</p><br>
                    </li>
                    <li>
                        <h2>Secundaria</h2>
                        <p>(Colegio de Bachillerato Fiscal ""Luis Arboleda Martinez")</p><br>
                    </li>
                    <li>
                        <h2>Educación Superior</h2>
                        <p>(Cursando el sexto nivel en la "Universidad Técnica De Manabí")</p>
                    </li>
                </ul>
            </div>
        </div>  
    </div>
    <section id="Estudiante 2">
        <h2>ESTUDIANTE MARIA JOSE LOOR</h2>
         <div class="container4">
          <div class="lado_izquierdo4">
              <div class="imagen4">
                <img [src]="imagenUrl1" alt="Mi imagen">
                </div>
              <div class="perfil4">
                  <h2>loor Delgado Maria Jose</h2> 
                  <span> 
                      <ul class="letras4">
                          <li>Estudiante: Tecnologías de la Información</li>
                      </ul> 
                  </span>
              </div>
              <div class="contacto4">
                  <h3 class="titulo4">Contacto</h3>
                  <ul class="letras8">
                      <li>
                          <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                          <span class="text">+593 984114334</span>
                      </li>
                      <li>
                          <span class="icon"><i class="fa fa-university" aria-hidden="true"></i></span>
                          <span class="text">mloor3384@utm.edu.ec</span>
                      </li>
                      <li>
                          <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                          <span class="text">maruloordelgado0987@gmail.com</span>
                      </li>
                      <li>
                          <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                          <span class="text">Portoviejo Sitio Mejia"</span>
                      </li>
                      <li>
                          <span class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                          <span class="text">Instagram: maruloor_03</span>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="lado_derecho4">
              <div class="perfil4"> 
                  <h1>Perfil</h1>
              </div>
              <p>Mejorar cada dia como persona,dar lo mejor de mi en todo aspecto, superarme y aprender muchas cosas mas.</p><br>
              <div class="perfil5">
                  <h1>Habilidades</h1><br>
                  <ul class="sub4">
                      <li>Responsable</li><br>
                      <li>Creativa</li><br>
                      <li>Empatica</li><br>
                      <li>Trabajo en equipo</li><br>
                      <li>Sentido critico</li><br>
                  </ul><br>
              </div>
              <div class="Experiencia4">
                  <h1>Pasatiempos</h1><br>
                  <ul class="sub5">
                      <li>
                          <h2>Leer Libros"</h2><br>
                          <h2>Escuchar musica</h2><br>
                          <h2>Hacer ejercicio</h2><br>
                      </li>
                  </ul> 
              </div>
              <div class="Estudios4">
                  <h1>Educación</h1><br>
                  <ul class="sub6">
                      <li>
                          <h2>Primaria</h2>
                          <p>(Escuela Mixta Fiscal "Eloy Alfaro")</p><br>
                      </li>
                      <li>
                          <h2>Secundaria</h2>
                          <p>(Unidad Educativa Fiscomisional "San Juan Bosco 8° - 10°")(Unidad Educativa Rocafuerte 1° - 3°)</p><br>
                      </li>
                      <li>
                          <h2>Educación Superior</h2>
                          <p>(Cursando el sexto nivel en la "Universidad Técnica De Manabí")</p>
                      </li>
                  </ul>
              </div>
          </div>  
      </div>
    </section>

 </main>
 </body>
 </html>
